body { 
  margin: 0; font-family: 'Roboto', sans-serif; 
  color: #333; 
  background-color: #eaeaea; 
}
.section-main {
background-color: #47d147; /* Задаємо колір фону */
display: flex; /* Вмикаємо Flexbox */
flex-direction: column; /* Розташовуємо елементи у стовпчик */
align-items: center; /* Центруємо по горизонталі */
}
.section-main-logo {
  height: 100px;
}
.section-main-button {
background-color: #33cccc;
border: none;
border-radius: 25px; /* Округлення кутів */
color: #fff;
font-weight: bold;
> text-transform: uppercase; /* Bci літери великі */
cursor: pointer; /* Зміна курсору при наведені */
padding: 12px 30px;
}
.second-section-img {
  height: 300px;
}
. third-section-books {
display: flex;
justify-content: center;
flex-wгар: wrap; /* Дозволяє елементам переноситись на новий рядок */
}
.book-img {
  height: 300px;
}
. third-section-book {
display: flex;
flex-direction: column;
align-items: center;
margin: 10px 20px;
}
.book-ing {
height: 200px; /* Забезпечує однакову висоту зображень */
}
